#container {
    width:100vw;
    height: 75px;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
#modules {
    height: 80px;
    padding: 0px;
    white-space:nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
#modules a{
    text-decoration: none !important;
    color: black !important;
    margin: 0 5px; 
}

/* width */
::-webkit-scrollbar 
{
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track 
{
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb 
{
  background: rgb(170, 158, 158); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
  background: grey; 
}